# films
# ignore interim file (created from .json)
film/??_??.??.md
# film images
film/**/*.jpg
#
# folders
folder.old
# exclude the actual folder pages
folder/??/0*
folder/??/1*
folder/??/2*
#
# diverse
# html fragments (are included on pages and tracked as .md)
templates/fragments/*.html.frag
# publication dir moved to doc
./publication/
#
# mets dir is generated (temporarily, and large)
mets
#
# only temp files in work
work
tmp
#
# probably not used
intern/
intern-test879cfb674eed/
#
# preparation for another font face
styles/arimo-fontfacekit.zip
styles/readme.txt
#
# just a backup
about-pm20/publication/publication.tgz

# gzipped large html pages
folder/??/*.html.gz

# rdf download files
download/

category/geo/i
category/subject/i
category/ware/i
