RewriteEngine On

# for sh folders, do not show plain folder list, but redirect to geo categories
RewriteRule ^sh$ /category/geo
RewriteRule ^sh/$ /category/geo
RewriteRule ^sh/about.en.html$ /category/geo/about.en.html
RewriteRule ^sh/about.de.html$ /category/geo/about.de.html

#### Switch for public and internal mets files ####

RewriteCond "%{ENV:PM20_INTERNAL}" "1"
RewriteRule "(.*)/mets$" "$1/internal.mets"

RewriteCond "%{ENV:PM20_INTERNAL}" ""
RewriteRule "(.*)/mets$" "$1/public.mets"

### short urls for folders
RewriteRule "^(co|pe)/(....)(..)$" "https://pm20.zbw.eu/folder/$1/$2xx/$2$3/about"
RewriteRule "^(sh|wa)/(....)(..),(....)(..)$" "https://pm20.zbw.eu/folder/$1/$2xx/$2$3/$4xx/$4$5/about.de.html"
