RewriteEngine On

# for sh folders, do not show plain folder list, but redirect to geo categories
RewriteRule ^sh$ /category/geo
RewriteRule ^sh/$ /category/geo
RewriteRule ^sh/about.en.html$ /category/geo/about.en.html
RewriteRule ^sh/about.de.html$ /category/geo/about.de.html

# for wa folders, do not show plain folder list, but redirect to ware categories
RewriteRule ^wa$ /category/ware
RewriteRule ^wa/$ /category/ware
RewriteRule ^wa/about.en.html$ /category/ware/about.en.html
RewriteRule ^wa/about.de.html$ /category/ware/about.de.html

#### Switch for public and internal mets files ####

RewriteCond "%{ENV:PM20_INTERNAL}" "1"
RewriteRule "(.*)/mets$" "$1/internal.mets"

RewriteCond "%{ENV:PM20_INTERNAL}" ""
RewriteRule "(.*)/mets$" "$1/public.mets"

### URIs for folders
RewriteRule "^(co|pe)/(....)(..)$" "/folder/$1/$2xx/$2$3/about"
RewriteRule "^(sh|wa)/(....)(..),(....)(..)$" "/folder/$1/$2xx/$2$3/$4xx/$4$5/about.de.html"

### URIs for documents - rewrite to iiif view
RewriteRule "^(co|pe|sh|wa)/([0-9,]+)/([0-9]{5})$" "/iiifview/folder/$1/$2/$3"

### URIs for pages of documents - rewrite to iiif view
RewriteRule "^(co|pe|sh|wa)/([0-9,]+)/([0-9]{5})/([0-9]{4})$" "/iiifview/folder/$1/$2/$3/$4"


### CORS rule
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"


### Rewrites for old P20 links
RewriteRule "^(co|pe)/([0-9]{4})$" "$1/00$2"
RewriteRule "^(co|pe)/([0-9]{5})$" "$1/0$2"

